[flake8]
max-line-length = 88
extend-ignore = E203,W503
exclude = .git,
    __pycache__,
    venv,build,
    migrations,
    .venv,
    config/settings/,
    config\settings\
max-complexity = 10
per-file-ignores =
    config/settings/*:F403,F405
