# Django
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.localhost
SECRET_KEY="django-SECRET_KEY"
#superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

# Database
DB_NAME=smarthome
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# JWT
JWT_EXPIRATION_DAYS=7

# Redis
REDIS_URL=redis://redis:6379
REDIS_HOST=redis
REDIS_PORT=6379

# Sentry
SENTRY_DSN=
