APP_NAME=SamrtHome
APP_VERSION=1.0.0
APP_DESCRIPTION=""


SECRET_KEY="django-insecure-yb^h61&%2#m&ovqyby*b=l+c^f0w$-w^dfgy0m#wni@zmz_vzb"
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.development
ALLOWED_HOSTS=127.0.0.1,localhost,*

#superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123



# PostgreSQL database 
POSTGRES_DB=smarthome 
POSTGRES_USER=smarthomeuser 
POSTGRES_PASSWORD=smarthomepassword 
POSTGRES_HOST=db 
POSTGRES_PORT=5432



# -----------------------------
# Redis
# -----------------------------
REDIS_URL=redis://redis:6379/0
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

